.heading {
  display: flex;
  justify-content: center;
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
  justify-content: space-around;
}

h2 {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
  text-decoration: underline;
}

h3 {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  font-size: x-large
}

#heading-img{
  height: 150px;
}

#heading-title {
  margin-top: 48px
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(105, 221, 221);
}

#img {
  height: 300px;
}

.details {
  box-shadow: 0 4px 16px 0 rgba(217, 28, 138, 0.943);
  height: 40%;
  width: 40%;
  margin: 48px;
  text-align: center;
  background-color:wheat;
}

#detail-img {
  height: 200px;
  background-color: wheat;
}

#title-img {
  width: 500px;
  height: 100px;
  background-color: rgb(105, 221, 221);
}